<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    
    <%= require('../body.html') %>

    <script src="<%= htmlWebpackPlugin.options.staticPath %>jquery.min.js"></script>
  </body>
</html>