<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <title>数据统计</title>
    <link rel="stylesheet" href="<%= BASE_URL %>libs/css/_common.css">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.1/weui.min.css">

    <script src="<%= BASE_URL %>libs/jquery.min.js"></script>
    <script src="<%= BASE_URL %>libs/jquery.cookie.js"></script>
    <script src="<%= BASE_URL %>libs/plugins/layer/layer.js"></script>
    <script src="<%= BASE_URL %>libs/plugins/iscroll.js"></script>
    <script src="<%= BASE_URL %>libs/plugins/dateformat.js"></script>
    <script src="<%= BASE_URL %>libs/plugins/echarts.min.js"></script>
    <script src="<%= BASE_URL %>libs/dataCommon.js"></script>
    <script src="<%= BASE_URL %>libs/common.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
</head>
<body>
    <noscript>
        <strong>We're sorry but vue-tpl doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
</body>
</html>
