<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="<%= BASE_URL %>libs/css/_common.css">

    <script src="<%= BASE_URL %>libs/jquery.min.js"></script>
    <script src="<%= BASE_URL %>libs/plugins/layer/layer.js"></script>
    <script src="<%= BASE_URL %>libs/plugins/amap/amap.v2.0Beta.pro.f.js"></script>
    <script src="<%= BASE_URL %>libs/plugins/iscroll.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script src="<%= BASE_URL %>libs/dataCommon.js"></script>
    <script src="<%= BASE_URL %>libs/common.js"></script>
    <script src="<%= BASE_URL %>libs/WsSocket.js"></script>
    <title>打卡地图</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-tpl doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
